@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #1a1a1a;
    --primary-foreground: #fafafa;
    --secondary: #f0f0f0;
    --secondary-foreground: #1a1a1a;
    --muted: #f0f0f0;
    --muted-foreground: #767676;
    --accent: #f0f0f0;
    --accent-foreground: #1a1a1a;
    --destructive: #d32f2f;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #1a1a1a;
    --radius: 0.5rem;
    --chart-1: #e53935;
    --chart-2: #4caf50;
    --chart-3: #2196f3;
    --chart-4: #ffeb3b;
    --chart-5: #ff9800;
    --error: #e67e22; /* Add this line */
  }

  .dark {
    --background: #212121;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --button: #b23a48;
    --button-hover: #d14b5e;
    --button-disabled: #9ca3af;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1a1a1a;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #8b0000;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #404040;
    --ring: #d9d9d9;
    --chart-1: #1e90ff;
    --chart-2: #00bfff;
    --chart-3: #ff8c00;
    --chart-4: #ba55d3;
    --chart-5: #ff1493;
    --error: #ff6b6b;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
